@using la_mia_pizzeria_crud_mvc.Models.DataBaseModels
@{
    ViewData["Title"] = "Insert New Pizza";

    @model Pizza
}

<div class="container">
    <div class="__post-form-ctn d-flex flex-column">
        <h1>Insert a new pizza</h1>

        <form asp-controller="Pizza" asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                
                <label for="Name"><strong>Name:</strong></label>
                <input asp-for="Name" class="d-block w-100" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Description"><strong>Description:</strong></label>                
                <textarea asp-for="Description" rows="8" class="d-block w-100"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>

            </div>
            <div class="mb-3">
                
                <label for="Price"><strong>Price:</strong></label>
                <input type="text" asp-for="Price" oninput="this.value = this.value.replace(/,/g, '.')" class="d-block w-100" />
                <span asp-validation-for="Price" class="text-danger"></span>                
            </div>
            <div class="mb-3">
                <label for="ImageUrl"><strong>Image Url:</strong></label>
                <input asp-for="ImageUrl" class="d-block w-100" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="text-end">
                <input type="submit" class="btn btn-small btn-info" value="Save">
            </div>
        </form>
        <div class="__btn-details-ctn d-flex gap-1 py-2">
            <div class="">
                <a href="@Url.Action("Index", "Pizza")" class="btn btn-primary">Go Back to the pizzas list</a>
            </div>
            <div class="">
                <a href="@Url.Action("Index","Home")" class="btn btn-primary">Go back to the homepage</a>
            </div>
        </div>
    </div>

</div>