@{
    ViewData["Title"] = "Home Page";
}

<div class="__home-ctn container-fluid text-center d-flex justify-content-center flex-column gap-4 ">
    <h1 class="display-4">Pizzeria Bella Italia</h1>
    <h4>St. Andrews Street 23456-YOB, London, UK </h4>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quas corporis, aperiam sint alias doloremque cum. Magnam nesciunt, deleniti nam nisi maiores placeat tenetur, ipsum illum nostrum consectetur voluptates laborum.</p>
    <div class="__home-imgs-ctn d-flex justify-content-center flex-wrap">
         <div class="__home-img">
            <img src="/images/restaurant1.png" alt="no image" srcset="">

        </div>
        <div class="__home-img">
            <img src="/images/restaurant2.png" alt="" srcset="">

        </div>   
        

           
             
    </div>
    <div class="">
        <partial name="_LoginHomePartial" />
    </div>
    
</div>
