@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="__home-ctn container-fluid text-center d-flex justify-content-center flex-column gap-4 ">
    <h1 class="display-4">Pizzeria Bella Italia</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("ADMIN"))
        {
            <h3>@UserManager.GetUserName(User), Admin, you are logged in!</h3>
        }
        else
        {
            <h3>@UserManager.GetUserName(User), Regular User, you are logged in!</h3>


        }

    }
    <h4>St. Andrews Street 23456-YOB, London, UK </h4>        
    <div class="__home-imgs-ctn d-flex justify-content-center flex-wrap">
         <div class="__home-img">
            <img src="/images/restaurant1.png" alt="no image" srcset="">

        </div>
        <div class="__home-img">
            <img src="/images/restaurant2.png" alt="" srcset="">

        </div>                                  
    </div>
    <div class="">
        <partial name="_LoginHomePartial" />
    </div>
    
</div>
